
<ul>
  <% @sport.positions.each do |position| %>
    <li><%= link_to position.positions_name, sport_position_path(@sport, position) %></li>
  <% end %>
</ul>
  <%= link_to render_icon("back"), sport_path(@sport) %>
