#bg-container-football {
  background-image: url('merican_foot_pitch.jpg');
  height: 100vh;
  width: 100vw;
  overflow: hiddden;
  position: fixed;
  background-size: cover;
}

#QB {
  position: absolute;
  top: 59%;
  right: 44%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#fRB {
  position: absolute;
  top: 68%;
  right: 31%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#TE {
  position: absolute;
  top: 57%;
  right: 13%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#WR-X {
  position: absolute;
  top: 49%;
  right: 83%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#WR-Y {
  position: absolute;
  top: 57%;
  right: 73%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#WR-Z {
  position: absolute;
  top: 49%;
  right: 6%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#LT {
  position: absolute;
  top: 49%;
  right: 68%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#LG {
  position: absolute;
  top: 49%;
  right: 56%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#fC {
  position: absolute;
  top: 49%;
  right: 44%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#RG {
  position: absolute;
  top: 49%;
  right: 32%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#RT {
  position: absolute;
  top: 49%;
  right: 19%;
  height: 60px;
  width: 45px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#LDE {
  position: absolute;
  top: 40%;
  right: 17%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#DT-3T {
  position: absolute;
  top: 40%;
  right: 38%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#DT-Nose {
  position: absolute;
  top: 40%;
  right: 52%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#RDE {
  position: absolute;
  top: 40%;
  right: 72%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#ROLB {
  position: absolute;
  top: 32%;
  right: 27%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#MLB {
  position: absolute;
  top: 32%;
  right: 61%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#LOLB {
  position: absolute;
  top: 32%;
  right: 43%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#LCB {
  position: absolute;
  top: 40%;
  right: 5%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#RCB {
  position: absolute;
  top: 40%;
  right: 84%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#FS {
  position: absolute;
  top: 24%;
  right: 76%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#SS {
  position: absolute;
  top: 24%;
  right: 12%;
  height: 60px;
  width: 45px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}
