#bg-container-football {
  background-image: url('merican_foot_pitch.jpg');
  height: 100vh;
  width: 100vw;
  overflow: hiddden;
  position: fixed;
  background-size: cover;
}

#QB {
  position: absolute;
  top: 69%;
  right: 42%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#fRB {
  position: absolute;
  top: 77%;
  right: 22%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#TE {
  position: absolute;
  top: 66%;
  right: 3%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#WR-X {
  position: absolute;
  top: 49%;
  right: 83%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#WR-Y {
  position: absolute;
  top: 65%;
  right: 81%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#WR-Z {
  position: absolute;
  top: 49%;
  right: 1%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#LT {
  position: absolute;
  top: 62%;
  right: 60%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#LG {
  position: absolute;
  top: 49%;
  right: 63%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#fC {
  position: absolute;
  top: 49%;
  right: 42%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#RG {
  position: absolute;
  top: 49%;
  right: 22%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#RT {
  position: absolute;
  top: 62%;
  right: 24%;
  height: 73px;
  width: 63px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#LDE {
  position: absolute;
  top: 35%;
  right: 1%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#DT-3T {
  position: absolute;
  top: 35%;
  right: 34%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#DT-Nose {
  position: absolute;
  top: 35%;
  right: 52%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#RDE {
  position: absolute;
  top: 35%;
  right: 82%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#ROLB {
  position: absolute;
  top: 22%;
  right: 24%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#MLB {
  position: absolute;
  top: 22%;
  right: 61%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#LOLB {
  position: absolute;
  top: 22%;
  right: 42%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#LCB {
  position: absolute;
  top: 23%;
  right: 5%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#RCB {
  position: absolute;
  top: 23%;
  right: 80%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#FS {
  position: absolute;
  top: 8%;
  right: 59%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}

#SS {
  position: absolute;
  top: 8%;
  right: 26%;
  height: 73px;
  width: 63px;
  background-size: cover;
  transform: rotate(180deg);
  box-shadow: 0 8px 8px 0 #020202;
  border: solid 2px black;
  border-radius: 10px;
}
