#PG {
  position: absolute;
  top: 30%;
  right: 43%;
  height: 77PX;
  width: 58PX;
  background-size: cover;
}

#SG {
  position: absolute;
  top: 24%;
  right: 16%;
  height: 77PX;
  width: 58PX;
  background-size: cover;
}

#SF {
  position: absolute;
  top: 24%;
  right: 69%;
  height: 77PX;
  width: 58PX;
  background-size: cover;
}

#PF {
  position: absolute;
  top: 12%;
  right: 29%;
  height: 77PX;
  width: 58PX;
  background-size: cover;
}

#C {
  position: absolute;
  top: 12%;
  right: 56%;
  height: 77PX;
  width: 58PX;
  background-size: cover;
}


.bg-container {
  background-image: url('bball_court.jpg');
  height: 100vh;
  width: 100vw;
  overflow: hiddden;
  position: fixed;
  background-size: cover;
}
