#bg-container-soccer {
  background-image: url('Football_pitch.jpeg');
  height: 100vh;
  width: 100vw;
  overflow: hiddden;
  position: fixed;
  background-size: cover;
}

#CB1 {
  position: absolute;
  height: 77px;
  width: 61px;
  background-size: cover;
  top: 68%;
  right: 20%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#CB2 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 68%;
  right: 64%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#LB {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 62%;
  right: 83%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#RB {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 62%;
  right: 1%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#CDM {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 52%;
  right: 42%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#CM {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 37%;
  right: 65%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#CAM {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 31%;
  right: 23%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#RW {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 17%;
  right: 2%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#LW {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 17%;
  right: 82%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#ST {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 10%;
  right: 42%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;}

#GK {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 61px;
  top: 76%;
  right: 42%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}
