#bg-container-soccer {
  background-image: url('Football_pitch.jpg');
  height: 100vh;
  width: 100vw;
  overflow: hiddden;
  position: fixed;
  background-size: cover;
}

#CB1 {
  position: absolute;
  height: 77PX;
  width: 58PX;
  background-size: cover;
  top: 70%;
  right: 63%;
}

#CB2 {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 70%;
  right: 24%;
}

#LB {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 65%;
  right: 82%;
}

#RB {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 65%;
  right: 3%;
}

#CDM {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 52%;
  right: 43%;
}

#CM {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 47%;
  right: 68%;
}

#CAM {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 47%;
  right: 16%;
}

#RW {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 29%;
  right: 3%;
}

#LW {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 29%;
  right: 82%;
}

#ST {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 25%;
  right: 43%;
}

#GK {
  position: absolute;
  background-size: cover;
  height: 77PX;
  width: 58PX;
  top: 78%;
  right: 43%;
}
