#bg-container-rugby {
  background-image: url('rugby_pitch.jpg');
  height: 100vh;
  width: 100vw;
  overflow: hiddden;
  position: fixed;
  background-size: cover;
}

#r1 {
  position: absolute;
  height: 65px;
  width: 57px;
  background-size: cover;
  top: 8%;
  right: 58%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r2 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 8%;
  right: 40%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r3 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 8%;
  right: 23%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r4 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 18%;
  right: 49%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r5 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 18%;
  right: 31%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r6 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 28%;
  right: 57%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r7 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 28%;
  right: 23%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r8 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 28%;
  right: 40%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r9 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 38%;
  right: 40%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r10 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 44%;
  right: 23%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;}

#r11 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 55%;
  right: 66%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r12 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 54%;
  right: 17%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r13 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 64%;
  right: 12%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r14 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 74%;
  right: 7%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r15 {
  position: absolute;
  background-size: cover;
  height: 65px;
  width: 57px;
  top: 74%;
  right: 40%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}
