#bg-container-rugby {
  background-image: url('rugby_pitch.jpg');
  height: 100vh;
  width: 100vw;
  overflow: hiddden;
  position: fixed;
  background-size: cover;
}

#r1 {
  position: absolute;
  height: 77px;
  width: 57px;
  background-size: cover;
  top: 16%;
  right: 56%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r2 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 16%;
  right: 40%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r3 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 16%;
  right: 24%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r4 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 28%;
  right: 48%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r5 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 52%;
  right: 42%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r6 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 37%;
  right: 65%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r7 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 31%;
  right: 23%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r8 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 17%;
  right: 2%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r9 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 17%;
  right: 82%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r10 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 10%;
  right: 42%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;}

#r11 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 55%;
  right: 56%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r12 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 55%;
  right: 27%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r13 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 62%;
  right: 17%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r14 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 70%;
  right: 7%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}

#r15 {
  position: absolute;
  background-size: cover;
  height: 77px;
  width: 57px;
  top: 71%;
  right: 40%;
  box-shadow: 0 8px 8px 0 rgba(2, 2, 2, 2);
  border: solid 2px black;
  border-radius: 10px;
}
