<h1>List of all Sports</h1>
<%= link_to "add a sport", new_sport_path if current_user && policy(Sport).new? %>

<% @sports.each do |sport| %>
  <%= link_to sport_path(sport) do %>
  <% if sport.name == "Basketball" %>
    <% background_image = 'basketball_court.jpg' %>
    <% elsif sport.name == "Football" %>
    <% background_image = 'basketball_court.jpg' %>
    <% elsif sport.name == "Rugby" %>
    <% background_image = 'basketball_court.jpg' %>
    <% elsif sport.name == "American Football" %>
    <% background_image = 'basketball_court.jpg' %>
  <% end %>
    <div class="sport-image" style="background-image: url(<%= image_path 'basketball_court.jpg' %>)"><h3><%= sport.name %></h3></div>
  <% end %>
<% end %>
