<% if current_user && policy(Sport).new? %>
  <div class="admin-add-btn">
    <%= link_to new_sport_path do %>
      <%= render_icon "add" %>
    <% end %>
  </div>
<% end %>

<div class='my-grid'>
  <% @sports.each do |sport| %>

      <%= link_to sport_path(sport) do %>
        <div class="dashcard">
          <div class='card-content'>
            <%= sport.name %>
          </div>
         </div>
      <% end %>

  <% end %>
</div>
