<h1>List of all Sports</h1>
<%= link_to "add a sport", new_sport_path if current_user && policy(Sport).new? %>

<div class='my-grid'>
  <% @sports.each do |sport| %>

      <%= link_to sport_path(sport) do %>
        <div class="dashcard">
          <div class='card-content'>
            <%= sport.name %>
          </div>
         </div>
      <% end %>

  <% end %>
</div>
