<div id="overview">
  <p><strong>DESCRIPTION:</strong> <%= @sport.short_description %></p>
  <p><strong>GAME OBJECTIVE:</strong> <%= @sport.game_objective %></p>
  <p><strong>USEFUL WEB PAGE:</strong> <%= link_to @sport.governing_body_url %></p>
</div>
