<div id="short_description">
<%= @sport.short_description %>
</div>

<div id="game_objective">
<%= @sport.game_objective %>
</div>

<div id="governing_body_url">
<%= @sport.governing_body_url %>
</div>
