<div id="appearances">
  <%= @sport.appearances %>
</div>

<div id="trophies_won">
  <%= @sport.trophies_won %>
</div>

<div id="teams_countries">
  <%= @sport.teams_countries %>
</div>

<div id="name">
  <%= @sport.name %>
</div>
