<div id="appearances">
  <p><strong>FAMOUS PLAYER FROM THIS POSITION:</strong> <%= @sport.famous_player_name %></p>
  <p><strong>APPEARANCES:</strong> <%= @sport.appearances %></p>
  <p><strong>TEAM TROPHIES WON:</strong> <%= @sport.trophies_won %></p>
  <p><strong>TEAMS/COUNTRIES REPRESENTED:</strong> <%= @sport.teams_countries %></p>

</div>
