<div id="description">
<p><strong>OVERVIEW:</strong> <%= @position.overview_of_position %></p>
<p><strong>PRIMARY OBJECTIVES:</strong> <%= @position.primary_objectives %></p>
<p><strong>STRENGTHS:</strong> <%= @position.strengths %></p>
<p><strong>WEAKNESSES:</strong> <%= @position.weaknesses %></p>
</div>
