<div id="overview_of_position">
  <%= @sport.overview_of_position %>
</div>

<div id="primary_objectives">
  <%= @sport.primary_objectives %>
</div>

<div id="strengths">
  <%= @sport.strengths %>
</div>

<div id="weaknesses">
  <%= @sport.weaknesses %>
</div>
