<h1>SPORTS COMPANION</h1>
<div>
  <h3>MASTER THE GAME POSITION BY POSITION</h3>
  <%= link_to "All sports", sports_path %>
</div>
  <video autoplay muted loop id="intro-video">
    <source src="<%= asset_path('intro.mp4') %>" type="video/mp4">
  </video>
