<div id="video-container">
  <a href="<%= sports_path %>">
    <video autoplay muted loop id="intro-video">
      <source src="<%= asset_path('intro.mp4') %>" type="video/mp4">
    </video>

    <div id="title-text-overlay" class="home-title">
      <strong>SPORTS COMPANION</strong>
      <h3 id="slogan">MASTER THE GAME POSITION BY POSITION</h3>
    </div>
  </a>
</div>
