#positions-container {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  object-fit: cover;
}

.court-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.positions {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.pitch-bg {
  overflow: scroll;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
