.my-button {
  background-color: #F24236;
  color: white;
  border: none;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F24236;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken(#F24236, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
}

.show-sport-btns {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-positions-btns {
display: flex;
align-items: center;
justify-content: space-between;
}

.chatroom-btn {
  text-decoration: none;
  margin-right: 20px;
}

.favourite-btn {
  border: 0;
  margin-right: 20px;
}

.all-sports-btn {
  margin-right: 20px;
}

.admin-add-btn {
  text-align: right;
}

.chatroom-btns {
  text-align: none;
}

.chatroom-btns-container {
  margin-top: 10px;
  display: flex;
}

#chatroom-back-btn {
  margin-left: 20px;
  margin-right: 20px;
}

#bball-send-btn {
  margin-bottom: 200px;
}
