.sport-image {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
}

.dashcard {
  text-align: center;
  height: 180px;
  border-radius: 25px;
  border: solid 8px;
  border-color: black;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  position: relative;
  background-color: white;
}

.my-grid-container {
  margin-top: 40px;
  // margin-bottom: 20px;
}
.my-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}
.dashcard .card-content {
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  vertical-align: center;
}

.sport-sign {
  animation: wiggle 2s linear infinite;
}

@keyframes wiggle {
  0%, 7% {
    transform: rotateZ(0);
  }
  15% {
    transform: rotateZ(-15deg);
  }
  20% {
    transform: rotateZ(10deg);
  }
  25% {
    transform: rotateZ(-10deg);
  }
  30% {
    transform: rotateZ(6deg);
  }
  35% {
    transform: rotateZ(-4deg);
  }
  40%, 100% {
    transform: rotateZ(0);
  }
}

.card-styles {
  background: rgba( 255, 255, 255, 0.15 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 25px;
  border: 5px solid black;
}

// ^^^ glassmorphism (lifts the grid, looks like tiles)

body {
  /* Set the background image */
  // background-image: url('bball_court.jpg');
  // /* Specify how the background image should be repeated */
  // background-repeat: no-repeat;
  // /* Specify the size of the background image */
  // background-size: cover;
}
.favecard {
  text-align: center;
  height: fit-content;
  text-decoration: none;
  position: relative;
  padding:5px;
  width:fit-content;

}
.dash-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.position-card {
  text-align: center;
  height: fit-content;
  border-radius: 25px;
  border: solid 3px;
  border-color: black;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  position: relative;
  background-color: white;
  padding:10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.position-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
}
.position-content {
  // color: black;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
}

#r3th {
  background-size: cover;
  height: 80px;
  width: 75px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 20px;
}
