.container {
  margin-top: 10px;
  margin-bottom: 80px;
}
.container-chatroom {
  margin-top: 10px;
  margin-bottom: 145px;
}
.sports-index-container {
  margin-top: 10px;
  margin-bottom: 80px;
}

.sport-show-container {
  margin-top: 10px;
  margin-bottom: 80px;
}
.positions-index-container {
  margin-top: 10px;
  margin-bottom: 80px;
}
.positions-show-container {
  margin-top: 10px;
  margin-bottom: 80px;
}
