.sport-title {
  text-align: center;
  border-radius: 15px;
  padding: 5px;
  margin-bottom: 40px;
  margin-top: 15px;
  padding: 5px;
  background-size: cover;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  text-decoration: none;
  position: relative;
  background-color: black;
  color: white;

}


.sport-index-title {
  font-family: system-ui;
  color: black;
  text-align: center;
}
